@import '~nib/lib/nib/index' // nib

@import "~stylus-px2rem/lib/stylus-px2rem" // px2rem
// @import '~stylus-px2rem/lib/stylus-px2rem/mixins'
// @import '~stylus-px2rem/lib/stylus-px2rem/font-size'
// @import '~stylus-px2rem/lib/stylus-px2rem/height'
// @import '~stylus-px2rem/lib/stylus-px2rem/width'
// @import '~stylus-px2rem/lib/stylus-px2rem/line-height'

html-font-size = 32px //设计稿真是宽度

.h10
  height 10px

.h20
  height 20px
