@import "./base"

baseFontColor = #ffffff

.btn
  position relative
  -webkit-tap-highlight-color rgba(0,0,0,0)
  width 100%
  font-size 16px
  // 首页开始考试
  .btn-start
    margin 10px
    background-color #8be3ff
    border-radius 8px
    height 40px
    border-bottom 3px solid #0092c8
    &:active
      background-color #8be3ff * 0.9
      border-bottom 0px
    span
      line-height 40px
      color #354d6e
      width 100%
      text-align center
      &:active
        color #354d6e * 1.2
  // 弹出框开始考试
  .btn-do
    margin 10px
    background-color #6f9eff
    border-radius 8px
    height 40px
    border-bottom 3px solid #4a7ce2
    font-size 12px
    &:active
      background-color #6f9eff * 0.9
      border-bottom 0px
    span
      line-height 40px
      color baseFontColor
      width 100%
      text-align center
      &:active
        color baseFontColor * 1.2
  // 首页排行榜
  .btn-rank-index
    margin 10px
    background-color #fef349
    border-radius 8px
    height 40px
    border-bottom 3px solid #e69200
    &:active
      background-color #fef349 * 0.9
      border-bottom 0px
    span
      line-height 40px
      color #924c00
      width 100%
      text-align center
      &:active
        color #924c00 * 1.2
  // 弹出框排行榜
  .btn-rank-modal
    margin 10px
    background-color #fef349
    border-radius 8px
    height 40px
    border-bottom 3px solid #e69200
    font-size 12px
    &:active
      background-color #fef349 * 0.9
      border-bottom 0px
    span
      line-height 40px
      color #924c00
      width 100%
      text-align center
      &:active
        color #924c00 * 1.2
  // 返回
  .btn-back
    margin 10px
    background-color #ffb400
    border-radius 8px
    height 40px
    border-bottom 3px solid #ce9100
    font-size 12px
    &:active
      background-color #ffb400 * 0.9
      border-bottom 0px
    span
      line-height 40px
      color baseFontColor
      width 100%
      text-align center
      &:active
        color baseFontColor * 1.2
  // 下一题
  .btn-next
    margin 10px
    background-color #6f9eff
    border-radius 8px
    height 40px
    border-bottom 3px solid #4a7ce2
    font-size 12px
    &:active
      background-color #6f9eff * 0.9
      border-bottom 0px
    span
      line-height 40px
      color baseFontColor
      width 100%
      text-align center
      &:active
        color baseFontColor * 1.2
  // 跳过
  .btn-skip
    margin 10px
    background-color #ffb400
    border-radius 8px
    height 40px
    border-bottom 3px solid #ce9100
    font-size 12px
    &:active
      background-color #ffb400 * 0.9
      border-bottom 0px
    span
      line-height 40px
      color baseFontColor
      width 100%
      text-align center
      &:active
        color baseFontColor * 1.2
  // 完成考试
  .btn-finished
    margin 10px
    background-color #05c8a5
    border-radius 8px
    height 40px
    border-bottom 3px solid #069a7f
    font-size 12px
    &:active
      background-color #05c8a5 * 0.9
      border-bottom 0px
    span
      line-height 40px
      color baseFontColor
      width 100%
      text-align center
      &:active
        color baseFontColor * 1.2
  .btn-rank
    margin 10px
    background-color #fef349
    border-radius 8px
    height 40px
    border-bottom 3px solid #e69200
    font-size 12px
    &:active
      background-color #fef349 * 0.9
      border-bottom 0px
    span
      line-height 40px
      color #924c00
      width 100%
      text-align center
      &:active
        color #924c00 * 1.2
  .btn-disable
    margin 10px
    background-color #eee
    border-radius 8px
    height 40px
    border-bottom 3px solid #eee * 0.9
    font-size 12px
    span
      line-height 40px
      color #fff
      width 100%
      text-align center
