@import './base'

#header
  position relative
  padding 12px 0
  background #7f3ce6
  background linear-gradient(#7f3ce6 0%, #387ad8 100%)
  width 100%
.user-icon
  width 75px
  height 75px
  border-radius 50px
  border solid 3px #abb0ef
#userName
  padding 10px 0 0
  color #fff
  font-size 14px
  white-space nowrap
  text-align center
.showSign
  color #66b1ed
  font-size 10px
  text-align center
  line-height 20px
  height 20px
  position absolute
  right 80px
  bottom 10px
.signBase
  margin-right 10px
  color #fff
  font-size 10px
  text-align center
  border-radius 20px
  line-height 20px
  height 20px
  background #ffb400
.hasSign
  width 55px
  position absolute
  right 6px
  bottom 10px
.sign
  position absolute
  width 45px
  right 6px
  bottom 10px
  &:active
    background #e6a200
.task-content
  margin 10px 0
  background-color #fff
.task-item
  &:active
    background-color #f2f2f2
.task-icon
  position relative
  padding 10px 0 5px
  span
    padding 5px 0
    font-size 12px
    color #6a6a6a
  img
    border-radius 5px
    width 40px
.notice
  width 10px
  height 10px
  line-height 10px
  font-size 10px
  color #fff
  text-align center
  background-color #f00
  border-radius 50%
  border solid 2px #fff
  position absolute
  // right 17px
  right .12rem
  top 8px
.my-briefing
  margin 5px 0
  background-color #fff
.my-briefing-top
  padding 10px
  span
    font-size 14px
.briefing-item
  font-size 16px
  padding 0 10px
  .briefing-item
    width 70px
    padding 5px
  .briefing-item-center
    width 100px
    padding 5px
  &:active
    background-color #f2f2f2
.doTask
  padding 0 0
  background-color #fff
.wei-btn
  outline none
  padding 5px
  border #e3e3e3 1px solid
  background-color #fff
  color #e3e3e3
  border-radius 5px
  &:active
    border #d3d3d3 1px solid
    background-color #fff
.wei-btn-default
  outline none
  padding 5px
  border #da7d4a 1px solid
  color #da7d4a
  background-color #fff
  border-radius 5px
  &:active
    border #d62d1a 1px solid
    color #d62d1a
