@import './base'

#bg
  background-color #fff
  color #333333
  font-size 12px
  ul
    li
      padding 10px
      .header
        width 60px
        text-align center
        img
          height 50px
          width 50px
          border-radius 50%
      .name
        width 100px
        text-align left
      .time
        width 120px
        text-align right
  .no-invite
    font-size 12px
    text-align center
