@import './base'

.scoreBg
  height 150px
  background #fd4d59
  background linear-gradient(#fd4d59 0%, #ff5d87 100%)
  color #fff
  font-size 20px
  div
    padding 5px
    img
      width 50px !important
.scoreDetail
  padding 10px
  margin 2% 3%
  border-radius 5px
  background-color #fff
  border solid 1px #f2f2f2
  & > div
    &:nth-child(even)
      margin-left 20px
.detail
  & > span
    &:nth-child(1)
      font-size 14px
      min-width 200px
      overflow hidden
      word-break break-all
    &:nth-child(2)
      font-size 10px
      color #c2c2c2
      padding-top 10px
.addScore
  font-size 12px
  color #00c57f
.exChangeScore
  font-size 12px
  color #ff385d
