@import './base'

table
  width 100%
  height auto
  border-collapse collapse
  text-align center
  tr
    height 30px
    font-size 14px
    td,th
      border 1px solid #eeeeee
      text-align center

    th
      color #232323
      :nth-child(even)
        120px
    td
      color #787878
