@import './config';

.scoreBg {
  height: 150px;
  background: #fd4d59;
  background: linear-gradient(#fd4d59 0%, #ff5d87 100%);
  color: #fff;
  font-size: 1.25em
}

.scoreDetail {
  padding: 10px;
  margin: 2% 3%;
  border-radius: 5px;
  background-color: #fff;
  border: solid 1px @lineColor;
}

.scoreDetail > div:nth-child(even) {
  margin-left: 20px;
}

.detail > span:nth-child(1) {
  font-size: 0.9em;
  min-width: 200px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-all;
}

.detail > span:nth-child(2) {
  font-size: 0.625em;
  color: @lineColor * 0.8;
  padding-top: 10px;
}

.addScore {
  color: #00c57f;
}
.exChangeScore {
  color: #ff385d;
}
